body {
	background-color: #eee;
}
main {
	width: 800px;
	margin: 20px auto;
	background-color: #fff;
	text-align: center;
	font-family: cursive;

}
section {
	padding: 20px;
}
 nav a {
 	color: #000;
 	font-size: 26px;
 	font-weight: bold;
 	margin: 0 15px;
 	text-decoration: none;
 	font-family: cursive;
 }
 .main-text {
 	font-size: 20px;
 	margin-top: 30px;
    line-height: 1,5;
    margin: 60px;
 }
footer {
	background: #09147A;
	color:#eee;
    font-size: 20px;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    padding:  30px
}